<html>
      <body style="backcolor=green">
        <a href="/time_line">imformation</a>
        <h1>box text</h1>
        <table border="1" bgcolor="red">
        %for info in name['statuses']:
        <tr>
        <td align="left">$info["user"]["name"]</td>
        <td align="left"><img src="$info['user']['avatar_large']"></img></td>
        <td align="left">$info["text"]</td>
        </tr>
        %endfor
        </table>
        <table cellpadding="10" bgcolor="green">
        <ul type="a">
        <li>apple</li>
        <li>orange</li>
        <li>banana</li>
        <li>grapes</li>
        </ul>
        <ol>
        <li>apple</li>
        <li>orange</li>
        <li>banana</li>
        <li>grapes</li>
        </ol>
        </table>
        ${name}
    </body>
</html>
