<html>
      <body style="backcolor=green">
        <a href="/time_line">imformation</a>
        <h1>box text</h1>
        <table border="1" bgcolor="red">
        <tr>
        <td align="left">line1,cell1</td><td align="left">line1.cell2</td><td align="left">line1,cell3</td>
        </tr>
        <tr>
        <td>line2.cell1</td><td>line2.cell2</td><td>line2.cell3</td>
        </tr>
        </table>
        <table cellpadding="10" bgcolor="green">
        <ul type="a">
        <li>apple</li>
        <li>orange</li>
        <li>banana</li>
        <li>grapes</li>
        </ul>
        <ol>
        <li>apple</li>
        <li>orange</li>
        <li>banana</li>
        <li>grapes</li>
        </ol>
        </table>
    </body>
</html>
